/Recommendation Service/Recommendation Service/bin
/Recommendation Service/Recommendation Service/obj
/Recommendation Service/.vs
/Transport Service/Transport Service/bin
/Transport Service/Transport Service/obj
/Transport Service/.vs
/Transport Service/TransportServiceUnitTests/bin
/Transport Service/TransportServiceUnitTests/obj
