ReactionsService/.vs/
ReactionsService/ReactionsService/bin/
ReactionsService/ReactionsService/obj/
/Recommendation Service/Recommendation Service/bin
/Recommendation Service/Recommendation Service/obj
/Recommendation Service/.vs
